* {
    box-sizing: border-box;
}

body {
    margin: 100px;
    background: #b9fff0;

}

.element {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    background: #B8EE1D;
    display: inline-block;
    margin: 5px;
    text-align: center;
}
.element:hover {
    background-color: #EEAB06;
}
.range {
    margin: 5px;
}
.row {
    height: 25px;
    display: flex;
    margin: 5px;
}
#menu {
    display: flex;
}